<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Always include this permission -->
    <!--     ACCESS_COARSE_LOCATION 권한은 선언하고 ACCESS_FINE_LOCATION 권한은 선언하지 않으면 높은 정확도의 위치를 수신할 수 없으므로 두 권한 모두 입력 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:name=".MYApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon_tasylog"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/app_icon_tasylog_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TastyLog"
        tools:targetApi="31">


<!--        &lt;!&ndash; Firebase Messaging Service 등록 &ndash;&gt;-->
<!--        <service-->
<!--            android:name=".service.MyFirebaseMessagingService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->


        <activity
            android:name=".ui.activity.DetailRestaurantActivity"
            android:exported="false" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="@string/naver_client_id" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/google_app_ads_key" />

        <activity android:name=".ui.activity.MainActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.IntroActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <!-- "kakao{YOUR_NATIVE_APP_KEY}://kakaolink" 형식의 앱 실행 스킴을 설정하는데 사용 -->
                <data android:host="kakaolink"
                    android:scheme="@string/kakao_scheme" />

            </intent-filter>

        </activity>
    </application>

</manifest>